<!DOCTYPE html>
<html>
    <head>
        <title>
            Accueil : Pota'Gibus
        </title>
    </head>
    <body>
        <h1>
            Pota'Gibus
        </h1>
        <br>
        <hr>
        <div>
            <p>
                Bienvenue sur Pota'Gibus.
                <list>
                    <li>
                        Pour calculer un itinéraire ou simuler des utilisateurs, cliquez sur "Calculer". Vous pouvez spécifier un nombre d'utilisateurs
                        à simuler, ou choisir de calculer un itinéraire entre deux villes, tout en choisissant la charge minimale du véhicule et le temps maximal passé à la borne.
                    </li>
                    <li>
                        Pour afficher la carte de la dernière simulation, cliquez sur "Carte : Simulation".
                    </li>
                    <li>
                        Pour afficher la carte du dernier itinéraire, cliquez sur "Carte : Itinéraire".
                    </li>
                </list>
            </p>
        </div>
        <h2>
            <a href="/simuler">Calculer</a>
             - 
            <a href="/carte">Carte : Simulation</a>
            -
            <a href="/itineraire">Carte : Itinéraire</a>
        </h2>
    </body>
</html>