<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <script src="../static/shownumber.js"></script>
        <title>
            Pota'Gibus : Carte
        </title>
    </head>
    <body>
        <h1>
            Carte
        </h1>
        <div class="mapcontainer">
            <iframe src="../static/carte.html" class="map"></iframe>
            <form class="slidemebox" method="get">
                <input type="range" min="0" max="{{nbt}}" value="{{actuel}}" id="tick" name="tick" class="slider">
                <p>
                    Tick N° <span id="lenombre"></span>
                    <input type="submit" value="Go !"/>
                </p>
            </form>
        </div>

        <script>
            var slider = document.getElementById("tick");
            var output = document.getElementById("lenombre");
            output.innerHTML = slider.ariaValueMax;

            slider.oninput = function() {
                output.innerHTML = this.value;
            }
        </script>
    </body>
</html>