<!DOCTYPE html>
<html>
    <head>
        <title>
            Simuler : Pota'Gibus
        </title>
    </head>
    <body>
        <h1>Simulation</h1>
        <h2>Générer des utilisateurs</h2>
        <form method="post">
            Générer <input type="number" id="nbu" name="nbu"> utilisateurs
            <br><input type="submit" value="Go !"/>
        </form>
        <hr>
        <h2><a href="/calcitineraire">Calculer un itinéraire</a></h2>
        <a href="/index">Retour à l'accueil</a>
    </body>
</html>